<!DOCTYPE html>
<html>
    <head>
        <title>Music</title>
        <meta charset="utf-8">
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="page-content" aria-label="Content">
            <div class="w">
                <header>
                    <h1>Music</h1>
                </header>
                <p>
                    <a class="linkbutton" href="/">back<</a>
                    <br><br><br>
                    Music has been and always will be an important constant in my life. I don't personally create (yet) but talking about, searching for, and sharing music is something I enjoy deeply.
                    <br><br>
                    Feel free to send <a href="mailto:me@ggmf.dev">me</a> any recommendations. Here's a random album for you in return: {{.Title}} by {{.Artist}}
                    <br><br>
                    <strong>Other Stuff:</strong>
                    <ul>
                        <li>
                            While I don't necessarily believe in assigning a score to art, <a href="https://rateyourmusic.com/~RavenCrush">RYM</a> has been a good cataloguing tool for me and what I've listened to over the years.
                        </li>
                        <li>
                            I also enjoy <a href="https://www.discogs.com/user/RavenCrush/collection">collecting vinyl</a> - decorating not just my digital space but also my physical one is a great privilege (with the added benefit of supporting an artist or getting a cool poster or two).
                        </li>
                    </ul>
                </p>
            </div>
        </main>
    </body>
</html>

