<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Tattoos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="page-content" aria-label="Content">
            <div class="w">
                <header>
                    <h1>Tattoos</h1>
                </header>
                <p>
                    <a class="linkbutton" href="/">back<</a>
                    <br><br><br>
                    Tattoos have only recently (as of late 2020) become a bigger part of my life. Besides being pretty fuckin' cool, they've allowed me to curate a collection of things I love on a body that I sometimes don't.
                    <br><br>
                    Here's a list of artists I like (a ⋆ to the right of their name means I've been personally tattooed by them):
                    <br><br>
                    <ul>
                        {{ range .Contents }}
                        <li>
                            <strong>{{ .Name.EN }}</strong>
                        </li>
                        <ul>
                            {{ range .Artists }}
                            <li>
                                {{ .Name }} 
                                {{ if .IsTattooed }}
                                ⋆
                                {{ end }}
                                 // <a href="{{ .Instagram }}">Instagram</a> // 
                                {{ if .Location }}
                                    {{ if .LocationLink }}
                                        <a href="{{ .LocationLink }}"> {{ .Location }} </a>
                                    {{ else }}
                                        {{ .Location }}
                                    {{ end }}
                                {{ else }}
                                    Private Studio
                                {{ end }}
                                {{ if .Notes }}
                                <ul>
                                    {{ range .Notes }}
                                    <li>
                                        {{ .EN }}
                                    </li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </ul>
                </p>
            </div>
        </main>
    </body>
</html>

