<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>音楽</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="page-content" aria-label="Content">
            <div class="w">
                <header>
                    <h1>音楽</h1>
                </header>
                <p>
                    <a class="linkbutton" href="/">前へ</a>
                    <br><br><br>
                    音楽はこれまでも、そしてこれからも、俺の人生において大きな宝物です。自分で音楽を作ることはまだありませんが、音楽について話したり、探したり、分け合いたりしたりすることはとても楽しいと思います。
                    <br><br>
                    オススメがあれば、気軽に<a href="mailto:me@ggmf.dev">送ってください</a>。お礼にランダムなアルバムを共有します：{{.Artist}}の「{{.Title}}」
                    <br><br>
                    <strong>他のもの：</strong>
                    <ul>
                        <li>
                            芸術に点数をつけることを信じていませんが、<a href="https://rateyourmusic.com/~RavenCrush">RYM</a>は俺にとって長年にわたって来てきたものを分類するいいツールになっています。
                        </li>
                        <li>
                            また、<a href="https://www.discogs.com/user/RavenCrush/collection">レコードの収集</a>も楽しんでいます。俺のデジタルスペースだけでなく、生活空間を飾ることは大きな特権です（それに、アルティストをサポートしたり、カッコイポスターを手に入れたりすることもできます）。
                        </li>
                    </ul>
                </p>
            </div>
        </main>
    </body>
</html>
