<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>音楽</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="page-content" aria-label="Content">
            <div class="w">
                <header>
                    <h1>音楽</h1>
                </header>
                <p>
                    <a class="linkbutton" href="/">前へ</a>
                    <br><br><br>
                    僕の人生において、音楽はこれまでも、そしてこれからも大きな存在です。自分で音楽を作ることはまだありませんが、音楽について話したり、新しい音楽を探したり、シェアしたりすることはとても楽しいです。
                    <br><br>
                    あなたのオススメを是非<a href="mailto:me@ggmf.dev">こちら</a>からシェアしてください。お返しにランダムで僕の好きなアルバムをシェアします：{{.Artist}}の「{{.Title}}」
                    <br><br>
                    <strong>その他：</strong>
                    <ul>
                        <li>
                            術に点数をつけることには反対ですが、<a href="https://rateyourmusic.com/~RavenCrush">RYM</a>は僕が今までに聞いた音楽を記録するために、いいツールになっています。
                        </li>
                        <li>
                            また、<a href="https://www.discogs.com/user/RavenCrush/collection">レコードの収集</a>も楽しんでいます。デジタルスペースだけでなく、生活空間を飾ることは、僕にとって大きな特権です（また、レコードを購入することでアーティストをサポートしたり、格好いいポスターを手に入れたりすることもできます）。
                        </li>
                    </ul>
                </p>
            </div>
        </main>
    </body>
</html>
