<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>タトゥー</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="page-content" aria-label="Content">
            <div class="w">
                <header>
                    <h1>タトゥー</h1>
                </header>
                <p>
                    <a class="linkbutton" href="/">前へ</a>
                    <br><br><br>
                    タトゥーが僕の生活の一部になったのは、ごく最近（ 2020年末）のことです。ただたカッコいいだけでなく、タトゥーのおかげで僕の体に好きなものを集めることができます。
                    <br><br>
                    ここでは、僕の好きなアーティストのリストを紹介します（名前の右にある⋆は僕がタトゥーを入れてもらったことがあるという意味です）。
                    <br><br>
                    <ul>
                        {{ range .Contents }}
                        <li>
                            <strong>{{ .Name.JP }}</strong>
                        </li>
                        <ul>
                            {{ range .Artists }}
                            <li>
                                {{ .Name }} 
                                {{ if .IsTattooed }}
                                ⋆
                                {{ end }}
                                 // <a href="{{ .Instagram }}">インスタグラム</a> // 
                                {{ if .Location }}
                                    {{ if .LocationLink }}
                                        <a href="{{ .LocationLink }}"> {{ .Location }} </a>
                                    {{ else }}
                                        {{ .Location }}
                                    {{ end }}
                                {{ else }}
                                    プライベートスタジオ
                                {{ end }}
                                {{ if .Notes }}
                                <ul>
                                    {{ range .Notes }}
                                    <li>
                                        {{ .JP }}
                                    </li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </ul>
                </p>
            </div>
        </main>
    </body>
</html>

